<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>One International</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>adalive_doc_icon_320x320.png</string>
				<string>adalive_doc_icon_64x64.png</string>
				<string>adalive_doc_icon_44x58.png</string>
				<string>adalive_doc_icon_22x29.png</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>AdAlive File</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>br.com.lab360.file.adalive</string>
			</array>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb157540998223871</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>Fabric</key>
	<dict>
		<key>APIKey</key>
		<string>${CRASHLYTICS_API_KEY}</string>
		<key>Kits</key>
		<array>
			<dict>
				<key>KitInfo</key>
				<dict/>
				<key>KitName</key>
				<string>Crashlytics</string>
			</dict>
		</array>
	</dict>
	<key>FacebookAppID</key>
	<string>157540998223871</string>
	<key>FacebookDisplayName</key>
	<string>lab360</string>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<false/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fbapi</string>
		<string>fb-messenger-api</string>
		<string>fbauth2</string>
		<string>fbshareextension</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>Permita o uso do bluetooth.</string>
	<key>NSCameraUsageDescription</key>
	<string>Autorize o acesso a câmera para poder usar o 'Scanner' e também tirar fotos com seu dispositivo.</string>
	<key>NSFaceIDUsageDescription</key>
	<string>Autentique-se para desbloquear o aplicativo!</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Autorize o uso de sua localização para que o aplicativo possa mostrar informações de eventos, como locais e horários, específicas para sua região atual.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Autorize o uso de sua localização para que o aplicativo possa mostrar informações de eventos, como locais e horários, específicas para sua região atual.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Autorize o uso do microfone para gravar vídeos e utilizar o reconhecedor de voz.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Autorize para que você possa salvar imagens em sua biblioteca</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Autorize para que você possa usar fotos de sua biblioteca.</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>O reconhecimento de voz será utilizado para agilizar o preenchimento de campos de texto.</string>
	<key>SCNDisableLinearSpaceRendering</key>
	<true/>
	<key>SCNDisableWideGamut</key>
	<true/>
	<key>UIAppFonts</key>
	<array>
		<string>MyriadPro-Regular.otf</string>
		<string>MyriadPro-Semibold.otf</string>
		<string>MyriadPro-Bold.otf</string>
		<string>MyriadPro-It.otf</string>
		<string>SignPainter.ttf</string>
		<string>FakeReceipt.ttf</string>
		<string>SFDisplay-Black.otf</string>
		<string>SFDisplay-Bold.otf</string>
		<string>SFDisplay-Heavy.otf</string>
		<string>SFDisplay-Light.otf</string>
		<string>SFDisplay-Medium.otf</string>
		<string>SFDisplay-Regular.otf</string>
		<string>SFDisplay-Semibold.otf</string>
		<string>SFDisplay-Thin.otf</string>
		<string>SFDisplay-Ultralight.otf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>bluetooth-central</string>
		<string>bluetooth-peripheral</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen-LAB360</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.archive</string>
			</array>
			<key>UTTypeDescription</key>
			<string>AdAlive File</string>
			<key>UTTypeIconFile</key>
			<string></string>
			<key>UTTypeIconFiles</key>
			<array>
				<string>adalive_doc_icon_320x320.png</string>
				<string>adalive_doc_icon_64x64.png</string>
				<string>adalive_doc_icon_44x58.png</string>
				<string>adalive_doc_icon_22x29.png</string>
			</array>
			<key>UTTypeIdentifier</key>
			<string>br.com.lab360.file.adalive</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>ADALIVE</string>
				<key>public.filename-extension</key>
				<string>adalive</string>
				<key>public.mime-type</key>
				<string>application/octet-stream</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
